/* referencia de colores */

.dark-primary-color {
    background: #455A64;
}

.default-primary-color {
    background: #607D8B;
}

.light-primary-color {
    background: #CFD8DC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF5722;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: #f1f1f1;
}

h2 {
    color: #455A64;
    animation: nomSecionAnimation 2s infinite;
    animation-delay: 0.5s;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #455A64;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar>.navbar-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    float: right;
    font-size: 0;
}

.navbar>.navbar-list>.navbar-item {
    display: inline-block;
    font-size: 16px;
}

.navbar>.navbar-list>.navbar-item>.navbar-link {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: #CFD8DC;
    transition: all 0.5s;
}

.navbar>.navbar-list>.navbar-item.active>.navbar-link {
    color: #FFFFFF;
    background-color: #607D8B;
}

.navbar>.navbar-list>.navbar-item>.navbar-link:hover {
    color: #FFFFFF;
    background-color: #607D8B;
}

.header>.title {
    position: absolute;
    top: 30%;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-size: 70px;
}

.header>.title-cite {
    position: absolute;
    top: 50%;
    color: #CFD8DC;
    width: 100%;
    text-align: center;
    font-size: 34px;
}

.header>.title-img {
    width: 100%;
    background-image: url("../images/portada.png");
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s;
}

.section-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.flex-item-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.quien-soy>.row-flex>.my-photo {
    align-items: flex-end;
    margin-right: 3%;
}

.quien-soy>.row-flex>.my-info {
    align-items: flex-start;
    margin-left: 3%;
}

.quien-soy>.row-flex>.my-info ul {
    padding: 0px;
}

.quien-soy>.row-flex>.my-info li {
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    list-style-type: none;
}


/*
Seccion estudios
*/

.estudios>.row-flex>.studies-info {
    align-items: flex-end;
    margin-right: 3%;
}

.estudios>.row-flex>.studies-img {
    align-items: flex-start;
    margin-left: 3%;
}

.estudios>.row-flex>.studies-info ul {
    padding: 0px;
}

.estudios>.row-flex>.studies-info li {
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}

.estudios>.row-flex>.studies-info>ul>li>.my-studies>.list-fecha {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 8px 15px;
    margin: 0 0 30px 0;
    box-shadow: inset 40em 0 0 0 #ED5565;
}

.estudios>.row-flex>.studies-info>ul>li>.my-studies h3 {
    font: 25px 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #757575;
    margin: 0px;
}

.estudios>.row-flex>.studies-info>ul>li>.my-studies h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #313131;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


/*
Seccion Experiencia
*/

.experiencia>.row-flex>.job-info {
    align-items: flex-start;
    margin-left: 3%;
}

.experiencia>.row-flex>.job-img {
    align-items: flex-end;
    margin-right: 3%;
}

.experiencia>.row-flex>.job-info ul {
    padding: 0px;
}

.experiencia>.row-flex>.job-info li {
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.experiencia>.row-flex>.job-info>ul>li>.my-job>.list-fecha {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 8px 15px;
    margin: 0 0 30px 0;
    box-shadow: inset 40em 0 0 0 #ED5565;
}

.experiencia>.row-flex>.job-info>ul>li>.my-job>.descripcion {
    font-size: 14px;
    font-weight: 300px;
    line-height: 24px;
    padding-bottom: 15px;
    color: #757575;
}

.experiencia>.row-flex>.job-info>ul>li>.my-job h3 {
    font: 25px 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #757575;
    margin: 0px;
}

.experiencia>.row-flex>.job-info>ul>li>.my-job h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #313131;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.perfil-photo img {
    height: 250px;
    max-width: 100%;
    border-radius: 50%;
    animation: deshacerCurvaZoom 5s forwards;
    animation-delay: 0.5s;
}


/* Parte de etiquetas */

.etiquetas>.row-flex>.etiquetas-info {
    align-items: flex-start;
    margin-left: 3%;
}

.etiquetas>.row-flex>.etiquetas-img {
    align-items: flex-end;
    margin-right: 3%;
}

.etiquetas>.row-flex>.etiquetas-info ul {
    padding: 0px;
}

.etiquetas>.row-flex>.etiquetas-info li {
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.etiquetas>.row-flex>.etiquetas-info>ul>li>.my-etiquetas>.list-etiquetas {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 8px 15px;
    margin: 0 0 30px 0;
    box-shadow: inset 40em 0 0 0 #ED5565;
    border-radius: 8%;
}


/* Parte del formulario */

input, textarea {
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}

input[type=button], input[type=submit], input[type=reset], button {
    background-color: #ED5565;
    border: none;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
}

input[type=radio] {
    color: #455A64;
}


/*
Animaciones CSS3
*/

@keyframes nomSecionAnimation {
    10% {
        transform: translateX(10px);
    }
    30% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes deshacerCurvaZoom {
    10% {
        border-radius: 50%;
    }
    20% {
        border-radius: 40%;
    }
    30% {
        border-radius: 30%;
    }
    40% {
        border-radius: 15%;
    }
    50% {
        border-radius: 5%;
    }
    60% {
        border-radius: 15%;
    }
    70% {
        border-radius: 30%;
    }
    80% {
        border-radius: 40%;
    }
    90% {
        border-radius: 45%;
    }
    100% {
        border-radius: 50%;
    }
}

.footer {
    width: 100%;
    background-color: #455A64;
    height: 50px;
    color: #CFD8DC;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
